---
---

.showcase1 {
    background-image: url(/images/header-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;

    img {
        display: inline-block;
    }
}

.upcoming {
    color: #e8eded;
    background: #697e8d none repeat scroll 0% 0%;
}

.upcoming-header {
    background: #6b7b87 none repeat scroll 0% 0%;
}

.upcoming-lower {
    background: #586875 none repeat scroll 0% 0%;
}

#intro {
    padding-top: 100px;
    width: 100%;
    border: none;
    background-image: url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-position: center;

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: white;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    }

    article {
        border-left: none;
        border-right: none;
        background-color: transparent;
        max-width: 800px;
        padding: 100px 40px;
        margin: 0px auto;
        color: white;
    }

    a {
        font-size: 120%;
    }

    p {
        font-size: 150%;
        line-height: 150%;
    }
}

// vim: set noai ts=4 sw=4 expandtab:
