<ul class="navlist clearfix">
    <li>
        <a target="_blank" href="https://support.google.com/chrome/answer/95647">
            <img width="64" height="64" src="/images/privacy-policy/chrome_128x128.png">
            <h4>Chrome</h4>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored">
            <img width="64" height="64" src="/images/privacy-policy/firefox_128x128.png">
            <h4>Firefox</h4>
        </a>
    </li>
    <li>
        <a target="_blank" href="http://windows.microsoft.com/en-gb/internet-explorer/delete-manage-cookies">
            <img width="64" height="64" src="/images/privacy-policy/internet-explorer_128x128.png">
            <h4>IE</h4>
        </a>
    </li>
    <li>
        <a target="_blank" href="http://help.opera.com/Windows/12.10/en/cookies.html">
            <img width="64" height="64" src="/images/privacy-policy/opera_128x128.png">
            <h4>Opera</h4>
        </a>
    </li>
    <li>
        <a target="_blank" href="http://support.apple.com/kb/PH17191">
            <img width="64" height="64" src="/images/privacy-policy/safari_128x128.png">
            <h4>Safari</h4>
        </a>
    </li>
    <li>
        <a target="_blank" href="http://midori-browser.org/faqs/#blacklist_cookies">
            <img width="64" height="64" src="/images/privacy-policy/midori_128x128.png">
            <h4>Midori</h4>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://help.gnome.org/users/epiphany/stable/data-cookies.html">
            <img width="64" height="64" src="/images/privacy-policy/epiphany_128x128.png">
            <h4>Epiphany</h4>
        </a>
    </li>
</ul>
