<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "{{ site.name }}",
  "url" : "{{ site.url }}",
  "sameAs" : [
    "http://facebook.com/{{ site.footer-links.facebook }}",
    "http://plus.google.com/{{ site.footer-links.google-plus }}",
    "http://twitter.com/{{ site.footer-links.twitter }}",
    "http://www.youtube.com/channel/{{ site.footer-links.youtube }}"
  ]
}
</script>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "{{ site.name }}",
  "alternateName" : "{{ site.description }}",
  "url" : "{{ site.url }}"
}
</script>
