{% if site.footer-links.dribbble or site.footer-links.email or site.footer-links.facebook or site.footer-links.flickr or site.footer-links.github or site.footer-links.instagram or site.footer-links.linkedin or site.footer-links.pinterest or site.footer-links.rss or site.footer-links.twitter or site.footer-links.stackoverflow %}
    <ul class="social-icons">
        {% if site.footer-links.dribbble %}<li><a href="http://dribbble.com/{{ site.footer-links.dribbble }}"><i class="fa fa-dribbble"></i></a></li>{% endif %}
        {% if site.footer-links.email %}<li><a href="mailto:{{ site.footer-links.email }}"><i class="fa fa-envelop-o"></i></a></li>{% endif %}
        {% if site.footer-links.facebook %}<li><a href="http://facebook.com/{{ site.footer-links.facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
        {% if site.footer-links.flickr %}<li><a href="http://flickr.com/{{ site.footer-links.flickr }}"><i class="fa fa-flickr"></i></a></li>{% endif %}
        {% if site.footer-links.github %}<li><a href="http://github.com/{{ site.footer-links.github }}"><i class="fa fa-github"></i></a></li>{% endif %}
        {% if site.footer-links.instagram %}<li><a href="http://instagram.com/{{ site.footer-links.instagram }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
        {% if site.footer-links.linkedin %}<li><a href="http://linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="fa fa-linkedin"></i></a></li>{% endif %}
        {% if site.footer-links.pinterest %}<li><a href="http://pinterest.com/{{ site.footer-links.pinterest }}"><i class="fa fa-pinterest"></i></a></li>{% endif %}
        {% if site.footer-links.rss %}<li><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></li>{% endif %}
        {% if site.footer-links.twitter %}<li><a href="http://twitter.com/{{ site.footer-links.twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
        {% if site.footer-links.stackoverflow %}<li><a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="fa fa-stackoverflow"></i></a></li>{% endif %}
    </ul>
{% endif %}
