<meta name="twitter:site" content="@{{ site.footer-links.twitter }}">
<meta name="twitter:creator" content="@{{ site.authors.plfiorini.twitter }}">
<meta name="twitter:card" content="{{ summary_large_image }}">
{% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
{% else %}
    <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
    <meta name="twitter:description" content="{{ page.description | strip_html | xml_escape | truncate: 200 }}">
{% else %}
    <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.image %}
    <meta name="twitter:image" content="{{ site.url }}/images/pages/{{ page.image }}">
{% else %}
    <meta name="twitter:image" content="{{ site.url }}/images/galleries/screenshots/0.6/Desktop1.png">
{% endif %}
