<h3>Version 0.5.1</h3>
<p>Release Date: 03 Oct 2014</p>

<h4>32-bit image</h4>
<a class="btn btn-primary" href="http://sourceforge.net/projects/mauios/files/0.5/maui-0.5.1-x86.iso/download">Download</a>
<ul>
    <li><strong>MD5:</strong> 40fa8f236e1721dda6e34c89aab0a859</li>
    <li><strong>SHA256:</strong> 7091a09cf227b31d32dcfcf47ad5acf83b80617c51848d214ae0eed1292ae93f</li>
</ul>

<h4>64-bit image</h4>
<a class="btn btn-primary" href="http://sourceforge.net/projects/mauios/files/0.5/maui-0.5.1-x86_64.iso/download">Download</a>
<ul>
    <li><strong>MD5:</strong> eac351aa19b1d61df84ef083662af386</li>
    <li><strong>SHA256:</strong> 0982a88aae584a8f69fb20607b89728edfaaff33d3a25ed8c10f69d9f2854270</li>
</ul>

<h4>Release Notes</h4>

<p>
This is the first snapshot (still considered alpha quality) using KDE Frameworks 5.<br>
Enjoy!
</p>

<p>
Maui alpha image boots into SDDM where you can log in the Hawaii desktop environment.
Password is "live" (without quotes).
</p>

<p>
Hardware supported by Open Source drivers should work.
Here's the list of supported GPUs:
</p>

<ul>
<li>Intel: i915 or newer cards</li>
<li>AMD/ATI: using the open source driver except for cards supported by radeonsi</li>
<li>NVIDIA: cards supported by the nouveau open source driver</li>
<li>VMware</li>
<li>QEMU and VirtualBox are not currently supported due to lack of drivers.</li>
</ul>

<p>
If you try the ISO image on VMware, please enable 3D acceleration.
</p>

<p>
To do so select the virtual machine, click on the VM → Settings menu item, now in the Hardware tab select Display and check Accelerate 3d graphics.
</p>

<h4>Known Issues</h4>

<p>
On some setups the screen configuration detected at login might be wrong. The problem has been reported and is under investigation.
Installer on laptops: "Next" button is disabled when the laptop is not connected to the AC adaptor. This is the intended behavior however the installer doesn't warn about it.
UEFI and Secure Boot are not yet supported.
Boot loader is extlinux which doesn't detect other operating systems.
</p>

<!-- vim: set noai ts=4 sw=4 expandtab: -->
