.background {
    background-size: 100% auto;
    height: auto;
    background-repeat: no-repeat;
    background-image: url(/images/header-bg.jpg);
    background-position: center top;
}

.colored-background {
    background-size: 100% auto;
    height: auto;
}

// vim: set noai ts=4 sw=4 expandtab:
