---
layout: default
---

<div class="container">
    <div class="row">
        <article class="post">
            <h1 class="page-header">{{ page.title }}</h1>

            <div class="entry">
                {{ content }}
            </div>

            <p class="date">
                Posted by <a href="{% render_author url %}" target="_blank">{% render_author first_name %} {% render_author last_name %}</a>
                on {{ page.date | date: "%B %e, %Y" }}
            </p>

            {% include share-page.html %}
            {% include disqus.html disqus_identifier=page.disqus_identifier %}
        </article>
    </div>
</div>

<!-- vim: set noai ts=4 sw=4 expandtab: -->
