---
layout: default
---

{% assign author = site.authors[page.author] %}

<div class="jumbotron centered">
    <h1>News</h1>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-6 col-md-offset-3">
            <article itemscope itemtype="http://schema.org/Article" class="post">
                <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
                <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
                <meta itemprop="headline" content="{{ page.title }}" />
                {% if page.image %}
                    <meta itemprop="image" content="{{ site.url }}/images/pages/{{ page.image }}" />
                {% else %}
                    <meta itemprop="image" content="{{ site.url }}/images/galleries/screenshots/Desktop1.png" />
                {% endif %}

                <h1 itemprop="name" class="page-header">{{ page.title }}</h1>

                <div itemprop="articleBody" class="entry">
                    {{ content }}
                </div>

                <p class="date">
                    Posted by <a href="{{ author.web }}" target="_blank">
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ author.first_name }} {{ author.last_name }}</span>
                        </span>
                    </a>
                    on <span itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %e, %Y" }}</span>
                </p>

                {% include share-page.html %}
                {% include disqus.html disqus_identifier=page.disqus_identifier %}
            </article>
        </div>
    </div>
</div>

<!-- vim: set noai ts=4 sw=4 expandtab: -->
